################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sqlrunner/.vs/sqlrunner/FileContentIndex
/sqlrunner/.vs/sqlrunner/v17
/sqlrunner/bin/Debug/net8.0
/sqlrunner/obj
/.vs/sqlrunner/CopilotIndices/17.13.441.19478
/.vs/sqlrunner/FileContentIndex
/files
/sqlrunner/.vs
/.vs
